.color-nav{
    background-color: black;
}
.ajust-navbar{
    gap: 27%;
}
.ajust-carro{
    height: 24px;
    margin-right: 6px;
}
.color-logo{
 height: 38px;
}
.enlaces{
    color: white;
    font-size: 20px;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    margin-right: 4px;
}
.navbar .color-desplegables {
    background-color: black !important;
}

.color-desplegables .dropdown-item {
    color: white;
}

.color-desplegables .dropdown-item:hover {
    background-color: #333;
}