.galeria{
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    margin-left: 4%;
    margin-right: 4%;
}
.nombre-produ{
    font-size: 14px;
}
.precio-produ{
    font-size: 22px;
}
.boton-ver-ofer{
    display: flex;
    margin-left: 54%;
    width: 124px;
    background-color: black;
    color: white;
    font-size: 18px;
    border-radius: 14px;
    justify-content: center;
    text-decoration: none;
}