.oferta{
        height: 34px;
        width: 18%;
        background-color: black;
        margin-top: 2%;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        margin-bottom: 40px;
}

.oferta h2{
    color:white;
    font-size: 26px;
    margin-left: 38px;
}